body {
    width: 100%;
    margin: 0 auto;
}
            
.box {
    width: 100%;
    margin: 1%;
    padding: 10% 0;
    background-color: red;
}

@media screen and (min-width: 800px) {
    body {
        width: 80%;
    }
    .box {
        width: 31.2%;
        background-color: blue;
        float: left;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: aqua;
    }
}